@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bordered-text {
  text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    -2px -2px 0 #fff;
}
